{% load static %}
{% load get_account %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>chess database - {% block title %}home{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/generic.css"%}"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% include "chs/navigation.html" %}

    <div id = "content">
      <div id = "sub-header"> </div>
      <section>
        {% block content %}
        {% endblock %}
      </section>
    </div>
    <footer>
      <p>{% if request.session.account %}You are logged as {{ request.session.account|get_account }} {% endif %}</p>
    </footer>
  </body>
</html>
