{% extends "chs/base.html" %}

{% block title %}events{% endblock %}

{% block content %}
<h1>Events list</h1>
<script>active_navlink("nav_events");</script>
You can also <a href="{% url 'chess:event_search' %}">search</a>
{% if request.session.account %}
  or <a href="{% url 'chess:event_create' %}">create</a>
{% endif %}
events.
{% include "chs/paginator.html" %}
<table>
  <tr>
    <th>event</th>
    <th>site</th>
    <th>starts</th>
    <th>ends</th>
    <th><!-- detail column --></th>
  </tr>
  {% for event in event_list %}
  <tr>
    <td>{{ event.event_name }}</td>
    <td>{{ event.location }}</td>
    <td>{{ event.start_date }}</td>
    <td>{{ event.end_date }}</td>
    <td><a href="{% url 'chess:event' event.object_id %}">detail</a></td>
  </tr>
  {% endfor %}
</table>
{% include "chs/paginator.html" %}
{% endblock %}
