{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}search events{% endblock %}

{% block content %}
<h1>Event search </h1>
<form action="{% url 'chess:event_list' %}" method="get">
  <fieldset> <legend> Event search</legend>
    <label for="name">Name:</label><input name="name"/><br/>
    <label for="location">Location:</label><input name="location"/><br/>
    <label for="after">After:</label><input type="date" name="after"/>
    <label for="before">Before:</label><input type="date" name="before"/><br/>
    <input type="submit" value="Search"/>
  </fieldset>
</form>
{% endblock %}
