{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}create game{% endblock %}

{% block head %}
  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "js/chess.js" %}"></script>
  <script src="{% static "js/chessboard-0.3.0.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/chessboard-0.3.0.css"%}"/>
{% endblock %}

{% block content %}
<h1>Game {% if game %} modification {% else %} creation{% endif %}</h1>
{% if request.session.account %}
<form action="{% url 'chess:game_add' %}" method="post">
  <fieldset>
    <legend>{% if game %} Game modification {% else %} New game {% endif %}</legend>
    {% csrf_token %}
    {% if game %}
      <input type="hidden" name="id" value="{{game.object_id}}"/>
    {% endif %}
    <div id="chessboard">
      <div id="board"></div>
      <input type="hidden" id="moves_input" name="moves"/>
      <ul class="move-menu">
        <li class="prev"><button type="button" onclick="undo()">Undo</button></li>
        <li class="next"><button type="button" onclick="reset_board()">Reset</button><br/></li>
      </ul>
    </div>
    <p id="moves_text"></p>
    <label for="result">Result:</label><select id="result_input" name="result">
      <option value="1-0">White wins (1-0)</option>
      <option value="0-1">Black wins (0-1)</option>
      <option value="1/2-1/2">Draw (1/2-1/2)</option>
      <option value="*" selected>Ongoing - Other (*)</option>
    </select>
    <script>
    {% if game.moves %}
    var moves = [
      {% for move in game.moves_san %}"{{move}}",{% endfor %}
    ];
    {% else %}
    var moves = [];
    {% endif %}
    var moves_len = moves.length;

    var game = new Chess();
    for (i = 0; i < moves_len; i++) {
      game.move(moves[i]);
    }

    var moves_text = document.getElementById("moves_text")
    var moves_input = document.getElementById("moves_input")
    var result_input = document.getElementById("result_input")

    function onDragStart(source, piece) {
      if (game.game_over() === true ||
          (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
          (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
        return false;
      }
    }

    function onDrop(source, target) {
      var move = game.move({
        from: source,
        to: target,
        promotion: 'q'
      });

      if (move === null) return 'snapback';
      updateStatus();
    }

    function onSnapEnd() {
      board.position(game.fen());
    }

    function updateStatus() {
      moves_text.innerHTML = game.pgn();
      moves_input.value = game.history({verbose: true}).map(
        m => m.from + m.to + (m.promotion ? m.promotion : "")
      );

      var value = "*";
      var force = false;
      if(game.game_over()) {
        force = true;
        if(game.in_checkmate()) {
          if(game.turn() === 'b') {
            value = "1-0";
          } else {
            value = "0-1";
          }
        } else {
          value = "1/2-1/2";
        }
      }

      for (i = 0; i < result_input.options.length; i++) {
        option = result_input.options[i];
        if(force && option.value !== value) option.disabled = true;
        else option.disabled = false;
      }
      result_input.value = value;
    }

    function undo() {
      game.undo();
      board.position(game.fen());
      updateStatus();
    }

    function reset_board() {
      game.reset();
      board.position(game.fen());
      updateStatus();
    }

    var cfg = {
      draggable: true,
      position: 'start',
      onDragStart: onDragStart,
      onDrop: onDrop,
      onSnapEnd: onSnapEnd
    };
    var board = ChessBoard('board', cfg);

    board.position(game.fen());
    updateStatus();
    {% if game.result %}
    result_input.value = "{{game.result}}";
    {% endif %}
    </script>
    <label for="white_first">White firstname:</label><input name="white_first" maxlength="50" {% if game.white %}value="{{game.white.firstname}}"{% endif %}/>
    <label for="white_last">White lastname:</label><input name="white_last" maxlength="50" {% if game.white %}value="{{game.white.lastname}}"{% endif %}/><br/>
    <label for="black_first">Black firstname:</label><input name="black_first" maxlength="50" {% if game.black %}value="{{game.black.firstname}}"{% endif %}/>
    <label for="black_lasrt">Black lastname:</label><input name="black_last" maxlength="50" {% if game.black %}value="{{game.black.lastname}}"{% endif %}/><br/>
    <label for="event">Event:</label><input name="event" maxlength="60"  {% if game.event %}value="{{game.event.event_name}}"{% endif %}/><br/>
    <label for="location">Site:</label><input name="location" maxlength="60" {% if game.location %}value="{{game.location}}"{% endif %}/><br/>
    <label for="date">Date:</label><input type="date" name="date" {% if game.start_date %}value="{{game.start_date.isoformat}}"{% endif %}/><br/>
    <input type="submit" value="{% if game %}Modify{% else %}Add{% endif %}"/>
  </fieldset>
</form>
{% if not game %}
<p>or</p>
<script>
var chess = new Chess();
function validate_pgn_form() {
  var pgn = document.forms["pgn_form"]["pgn"].value;
  if(!chess.load_pgn(pgn)) {
    alert("Invalid pgn file");
    return false;
  }
  return true;
}
</script>

<form name="pgn_form" action="{% url 'chess:game_add_pgn' %}" method="post" onsubmit="return validate_pgn_form()">
  <fieldset> <legend>Upload PGN file</legend>
    {% csrf_token %}
    <input type="file" name="pgn"/><br/>
    <input type="submit" value="Add from pgn" style="width: 150px"/>
  </fieldset>
</form>
{% endif %}
{% else %}
<p>You need to be logged in to create new objects</p>
{% endif %}
{% endblock %}
