{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}search games{% endblock %}

{% block head %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/chess.js" %}"></script>
<script src="{% static "js/chessboard-0.3.0.js" %}"></script>
<link rel="stylesheet" href="{% static "css/chessboard-0.3.0.css"%}"/>
{% endblock %}

{% block content %}
<nav> </nav>

<section>
<form action="{% url 'chess:game_list' %}" method="get">
  <fieldset> <legend>Game search</legend>
  <div id="chessboard">
    <div id="board"></div>
    <input type="hidden" id="moves_input" name="moves"/>
    <ul class="move-menu">
      <li class="prev"> <button type="button" onclick="undo();">Undo</button> </li>
      <li class="next"><button type="button" onclick="reset_board()">Reset</button> </li>
    </ul>
  </div>
  <p id="moves_text"></p>
  <script>
  var game = new Chess();
  var moves_text = document.getElementById("moves_text")
  var moves_input = document.getElementById("moves_input")

  function onDragStart(source, piece) {
    if (game.game_over() === true ||
        (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
      return false;
    }
  }

  function onDrop(source, target) {
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q'
    });

    if (move === null) return 'snapback';
    updateStatus();
  }

  function onSnapEnd() {
    board.position(game.fen());
  }

  function updateStatus() {
    moves_text.innerHTML = game.pgn();
    moves_input.value = game.history({verbose: true}).map(
      m => m.from + m.to + (m.promotion ? m.promotion : "")
    );
  }

  function undo() {
    game.undo();
    board.position(game.fen());
    updateStatus();
  }

  function reset_board() {
    game.reset();
    board.position(game.fen());
    updateStatus();
  }

  var cfg = {
    draggable: true,
    position: 'start',
    onDragStart: onDragStart,
    onDrop: onDrop,
    onSnapEnd: onSnapEnd
  };
  var board = ChessBoard('board', cfg);

  updateStatus();
  </script>

  <h3>Players</h3>
  <label for="player">name:</label><input name="player"/>
  <label for="player_nat">nationality:</label><input name="player_nat"/><br/>
  <label for="player_elo_min">elo min:</label><input type="number" name="player_elo_min"/>
  <label for="player_elo_max">elo max:</label><input type="number" name="player_elo_max"/><br/>
  <h3>White</h3>
  <label for="white">name:</label><input name="white"/>
  <label for="white_nat">nationality:</label><input name="white_nat"/><br/>
  <label for="white_elo_min">elo min:</label><input type="number" name="white_elo_min"/>
  <label for="white_elo_max">elo max:</label><input type="number" name="white_elo_max"/><br/>
  <h3>Black</h3>
  <label for="black">name:</label><input name="black"/>
  <label for="black_nat">nationality:</label><input name="black_nat"/><br/>
  <label for="black_elo_min">elo min:</label><input type="number" name="black_elo_min"/>
  <label for="black_elo_max">elo max:</label><input type="number" name="black_elo_max"/><br/>
  <h3>Other</h3>
  <label for="event">Event</label><input name="event"/><br/>
  <label for="location">Site</label><input name="location"/><br/>
  <label for="opening">Opening</label><input name="opening"/><br/>
  <label for="after">After:</label><input type="date" name="after"/>
  <label for="before">Before:</label><input type="date" name="before"/><br/>
  <input type="submit" value="Search"/>
  </fieldset>
</form>
</section>
{% endblock %}
