{% extends "chs/base.html" %}

{% block title %}games{% endblock %}

{% block content %}
<h1>Games list</h1>
You can <a href="{% url 'chess:game_search' %}">search</a>
{% if request.session.account %}
  or <a href="{% url 'chess:game_create' %}">create</a>
{% endif %}
games.
<p>
  {{game_number}} matching results. <br/>
  white wins : {{white_wins}} ({{white_percent}}%) <br/>
  black wins : {{black_wins}} ({{black_percent}}%) <br/>
  draws : {{draws}} ({{draws_percent}}%) <br/>
</p>
{% include "chs/paginator.html" %}
{% include "chs/game_table.html" %}
{% include "chs/paginator.html" %}
{% endblock %}
