{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}{{game.white}} vs {{game.black}}{% endblock %}

{% block head %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/chess.js" %}"></script>
<script src="{% static "js/chessboard-0.3.0.js" %}"></script>
<link rel="stylesheet" href="{% static "css/chessboard-0.3.0.css"%}"/>
{% endblock %}

{% block content %}
<a href="{% url 'chess:player' game.white.object_id %}"> {{game.white}} </a>
vs
<a href="{% url 'chess:player' game.black.object_id %}"> {{game.black}} </a>
: {{game.result}}
<br/>
{% if game.event %}
<a href="{% url 'chess:event' game.event.object_id %}"> {{game.event.event_name}} </a>,
{% endif %}
{% if game.location %}
{{game.location}},
{% endif %}
{% if game.start_date %}
{{game.start_date.strftime}}
{% endif %}

<div id="board" style="width: 400px"></div>
<button type="button" onclick="prev_move(); update()">prev</button>
<button type="button" onclick="next_move(); update()">next</button>
<button type="button" onclick="goto_move(0); update()">reset</button>
<p id="moves_text"></p>
<script>
var moves = [
  {% for move in game.moves_san %}"{{move}}",{% endfor %}
];
var moves_len = moves.length;

var game = new Chess();

var cfg = {
  position: 'start'
};
var board = ChessBoard('board', cfg);
function set_board_position() {
  board.position(game.fen());
}

var current_move = 0;
function prev_move() {
  if (current_move > 0) {
    current_move--;
    game.undo();
  }
}
function next_move() {
  if (current_move < moves_len) {
    game.move(moves[current_move]);
    current_move++;
  }
}
function goto_move(i) {
  if (i >= 0 && i <= moves_len) {
    while(current_move < i) next_move();
    while(current_move > i) prev_move();
  }
}
function update() {
  set_board_position();
  set_moves_text();
}

function move_text(i) {
  return '<span onclick="goto_move(' + (i+1) + '); update()">' + moves[i] + '</span>';
}
function set_moves_text() {
  text = "";
  for (i=0; i<moves_len; i++) {
    str = move_text(i) + " ";
    if ((i+1) === current_move) str = str.bold();
    text += str;
  }
  text += "{{game.result}}";
  document.getElementById("moves_text").innerHTML = text;
}
set_moves_text();
</script>

<h3>Openings</h3>
<ul>
{% for opening in openings %}
  <li><a href="{% url 'chess:opening' opening.object_id %}">{{ opening }}</a></li>
{% endfor %}
</ul>

{% include "chs/comments.html" %}
{% endblock %}
