<div class="login">
  {% if request.session.account %}
  <span>{{request.session.account.pseudo}}</span>
  <a href="{% url 'chess:logout' %}">logout</a>
  {% else %}
  <a href="{% url 'chess:login' %}">login</a>
  <a href="{% url 'chess:register' %}">create account</a>
  {% endif %}
</div>
<br/>
<script>
  function active_navlink(class_name) {
  elts = document.getElementsByClassName(class_name)
  for (i=0; i<elts.length; i++) {
    elts[i].className += " active";
  }
}
</script>
<div class="nav">
  <a href="{% url 'chess:game_list'%}" class="nav_games">games</a>
  <a href="{% url 'chess:player_list'%}" class="nav_players">players</a>
  <a href="{% url 'chess:event_list'%}" class="nav_events">events</a>
  <a href="{% url 'chess:opening_list'%}" class="nav_openings">openings</a>
</div>
