{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}create opening{% endblock %}

{% block head %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/chess.js" %}"></script>
<script src="{% static "js/chessboard-0.3.0.js" %}"></script>
<link rel="stylesheet" href="{% static "css/chessboard-0.3.0.css"%}"/>
{% endblock %}

{% block content %}
{% if request.session.account %}
<form action="{% url 'chess:opening_add' %}" method="post">
  {% csrf_token %}
  {% if opening %}
  <input type="hidden" name="id" value="{{opening.object_id}}"/>
  {% endif %}
  <div id="board" style="width: 400px"></div>
  <p id="moves_text"></p>
  <input type="hidden" id="moves_input" name="moves"/>
  <button type="button" onclick="undo()">Undo</button>
  <button type="button" onclick="reset_board()">Reset</button>
  <br/>
  <script>
  {% if opening.moves %}
  var moves = [
    {% for move in opening.moves_san %}"{{move}}",{% endfor %}
  ];
  {% else %}
  var moves = [];
  {% endif %}
  var moves_len = moves.length;

  var game = new Chess();
  for (i = 0; i < moves_len; i++) {
    game.move(moves[i]);
  }

  var moves_text = document.getElementById("moves_text")
  var moves_input = document.getElementById("moves_input")
  var result_input = document.getElementById("result_input")

  function onDragStart(source, piece) {
    if (game.game_over() === true ||
        (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
      return false;
    }
  }

  function onDrop(source, target) {
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q'
    });

    if (move === null) return 'snapback';
    updateStatus();
  }

  function onSnapEnd() {
    board.position(game.fen());
  }

  function updateStatus() {
    moves_text.innerHTML = game.pgn();
    moves_input.value = game.history({verbose: true}).map(
      m => m.from + m.to + (m.promotion ? m.promotion : "")
    );
  }

  function undo() {
    game.undo();
    board.position(game.fen());
    updateStatus();
  }

  function reset_board() {
    game.reset();
    board.position(game.fen());
    updateStatus();
  }

  var cfg = {
    draggable: true,
    position: 'start',
    onDragStart: onDragStart,
    onDrop: onDrop,
    onSnapEnd: onSnapEnd
  };
  var board = ChessBoard('board', cfg);

  board.position(game.fen());
  updateStatus();
  </script>
  Opening name:<input name="opening_name" required="required" maxlength="50" {% if opening.opening_name %}value="{{opening.opening_name}}"{% endif %}/><br/>
  <input type="submit" value="{% if opening %}Modify{% else %}Add{% endif %}"/>
</form>
{% else %}
<p>You need to be logged in to create new objects</p>
{% endif %}
{% endblock %}
