{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}search openings{% endblock %}

{% block content %}
<nav> </nav>

<section>
<form action="{% url 'chess:opening_list' %}" method="get">
  <fieldset> <legend>Opening Search</legend>
    <label for="name">Name:</label><input name="name"/><br/>
    <label for="variation_of">Variation of:</label><input name="variation_of"/><br/>
    <label for="has_variation">Has variation:</label><input name="has_variation"/><br/>
    <input type="submit" value="Search"/>
  </fieldset>
</form>
</section>
{% endblock %}
