{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}{{opening.opening_name}}{% endblock %}

{% block head %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/chess.js" %}"></script>
<script src="{% static "js/chessboard-0.3.0.js" %}"></script>
<link rel="stylesheet" href="{% static "css/chessboard-0.3.0.css"%}"/>
{% endblock %}

{% block content %}
<h1>{{opening.opening_name}}</h1>
<div id="chessboard">
  <div id="board"></div>
  <ul class="move-menu">
    <li class="prev"> <button type="button" onclick="prev_move(); update()">prev</button> </li>
    <li class="reset"><button type="button" onclick="goto_move(0); update()">reset</button> </li>
    <li class="next"><button type="button" onclick="next_move(); update()">next</button> </li>
  </ul>
</div>
<p id="moves_text"></p>
<script>
var moves = [
  {% for move in opening.moves_san %}"{{move}}",{% endfor %}
];
var moves_len = moves.length;

var game = new Chess();

var cfg = {
  position: 'start'
};
var board = ChessBoard('board', cfg);

function set_board_position(use_animation = true) {
  board.position(game.fen(), use_animation);
}

var current_move = 0;
function prev_move() {
  if (current_move > 0) {
    current_move--;
    game.undo();
  }
}
function next_move() {
  if (current_move < moves_len) {
    game.move(moves[current_move]);
    current_move++;
  }
}
function goto_move(i) {
  if (i >= 0 && i <= moves_len) {
    while(current_move < i) next_move();
    while(current_move > i) prev_move();
  }
}
function update(use_animation = true) {
  set_board_position(use_animation);
  set_moves_text();
}

function move_text(i) {
  return '<span onclick="goto_move(' + (i+1) + '); update()">' + moves[i] + '</span>';
}
function set_moves_text() {
  text = "";
  for (i=0; i<moves_len; i++) {
    str = move_text(i) + " ";
    if ((i+1) === current_move) str = str.bold();
    text += str;
  }
  document.getElementById("moves_text").innerHTML = text;
}
goto_move(moves_len);
update(false);
</script>

<h3>Games</h3>
{% with game_list=opening_games %}
{% include "chs/game_table.html" %}
{% endwith %}
<a href="{% url 'chess:game_list' %}?opening={{opening.opening_name|urlencode}}">all games</a>

<h3>Variations</h3>
{% with opening_list=variations %}
{% include "chs/opening_table.html" %}
{% endwith %}

<h3>Variation of</h3>
{% with opening_list=variation_of %}
{% include "chs/opening_table.html" %}
{% endwith %}

{% include "chs/comments.html" %}
{% if can_edit %}
<a href="{% url 'chess:opening_edit' opening.object_id %}">edit</a>
<a href="{% url 'chess:opening_delete' opening.object_id %}">delete</a>
{% endif %}
{% endblock %}
