{% extends "chs/base.html" %}

{% block title %}players{% endblock %}

{% block content %}
<script>active_navlink("nav_players");</script>
<a href="{% url 'chess:player_search' %}">search</a>
{% include "chs/paginator.html" %}
<table>
  <tr>
    <th>name</th>
    <th>nationality</th>
    <th>ELO</th>
    <th><!-- detail column --></th>
  </tr>
{% for player in player_list %}
  <tr>
    <td>{{ player.firstname }} {{ player.lastname }}</td>
    <td>{{ player.nationality }}</td>
    <td>{{ player.elo_rating }}</td>
    <td><a href="{% url 'chess:player' player.object_id %}">detail</a></td>
  </tr>
{% endfor %}
</table>
{% include "chs/paginator.html" %}
{% endblock %}
