{% extends "chs/base.html" %}

{% load staticfiles %}

{% block title %}search players{% endblock %}

{% block content %}
<nav> </nav>
<section>
  <form action="{% url 'chess:player_list' %}" method="get">
    <fieldset> <legend> Player search : </legend>
      <label for="name">Name:</label><input name="name"/><br/>
      <label for="elo_min">Elo min:</label><input type="number" name="elo_min"/></br> 
      <label for="elo_max@">Elo max:</label><input type="number" name="elo_max"/><br/>
      <label for="nationality">Nationality:</label><input name="nationality"/>
      <p><input type="submit" value="Search"/></p>
    </fieldset>
  </form>
</section>
{% endblock %}
