{% extends "chs/base.html" %}

{% block title %}register{% endblock %}

{% block content %}
<nav> </nav>
<section>
  <h1>Registration Page</h1>
  {% if error %}
  <p>Error : {{error}}</p>
  {% endif %}
  <script>
  function validate_form() {
    var form = document.forms["register_form"];
    if(form["password"].value !== form["password2"].value) {
      alert("Passwords do not match");
      return false;
    } else {
      form["password2"].disable = true;
      return true;
    }
  }
  </script>
  <form id="register_form" action="{% url 'chess:handle_register' %}" method="post" onsubmit="return validate_form()">
    <fieldset> <legend>Account Registration</legend>
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="account" required="required"/><br/>
    <label>Password:</label>
    <input type="password" name="password" required="required"/><br/>
    <label>Repeat password:</label>
    <input type="password" name="password2" required="required"/><br/>
    <input type="submit" value="Create account" style="width: 150px"/>
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}"/>
    {% endif %}
    </fieldset>
  </form>
</section>
{% endblock %}
