html {
    height: 100%;
    word-wrap: break-word;
}

body {
    background-color: rgb(247, 247, 247);
    word-wrap: break-word;
    font-size: 1.8vmin;
    height: 100%;
    margin: 0;
}

table {
    border-collapse: separate;
    border-spacing: 10px 5px;
    margin: auto;
}

header {
    margin: 0;
    background-color: black;
}

header a {
    color: white;
}

#header-elt {
    display: inline-block;
    padding : 0 2vw;
}

#header-login {
    display: inline-block;
    position: absolute;
    right: 0px;
}

#chessboard {
    width: 400px;
    margin: auto;
}

#header-login #header-elt {
    padding : 0 1vw;
}

#header-elt a:hover {
    display: inline-block;
    background-color: rgb(178, 178, 178);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#content {
    margin: 0px;
    min-height: 84vh;
    min-width: 100%;
    position: relative;
    border-top: 0.3vh solid rgb(250, 80, 7);
    box-shadow : -1vh 0vw 2vh rgb(220, 220, 220);
}

footer {
    border-top : 0.2vw rgb(247, 247, 247) ridge;
}

#sub-header {
    display:block;
    min-height: 6vh;
    background-color: rgb(220, 220, 220);
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    margin-bottom: 0.5 vh;
}

section {
    display: inline-block;
    margin : auto;
    padding: 1vw 1vh;
    width: 97%;
    min-height: 76vh;
    border-left : 0.2vw rgb(187, 187, 187) ridge;
}

h1 {
    /*text-shadow: 3px 3px 3px red;*/
    text-align: center;
}

textarea {
    width: 100%;
    height: 50%;
}

.move-menu {
    list-style:none;
    margin:0;
    padding:0;
    border-top:1px solid #d2d5d6;
    border-bottom:1px solid #d2d5d6;
    background:#fbfbfb;
    margin-bottom:20px!important;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.move-menu li {
    margin-bottom:-1px;
}

.move-menu li a {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#084561;
    min-width:45px;
    height:40px;
    line-height:40px;
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
}

.move-menu li.next a,.move-menu li.prev a,.move-menu li.reset a {
    padding:0 15px;
}

.move-menu li.prev .ico-after {
    padding-left:30px;
}

.move-menu li.next {
    margin-left: auto;
    margin-right: 6px;
}

.move-menu li.next .ico-after {
    padding-right:30px;
}

.move-menu li.reset {
    margin-left: 75px;
}

form {
    display: inline-block;
    background-color:#FAFAFA;
    padding:10px;
    width:100%;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
}

legend {
    color:#DF3F3F;
    font-weight:bold;
}

input, textarea, select {
    min-width: 100px;
    width: 20%;
    height: 25px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    font-size: 1.7vmin;
    /*box-shadow:1px 1px 2px #C0C0C0 inset; */
}

select {    
    height: 30px;
}

textarea {
  width: 100%;
  height: 200px;
}

label {
    display: inline-block;
    width: 200px;
    padding: 10px 0px 10px 2%;
}

input[type=submit], input[type=reset] {
    float: right;
    width:100px;
    height: 30px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
    font-size: 1.7vmin;
}

input[type=file] {
    width: 350px;
    height: 30px;
}

input[type=date] {
  width: 150px;
  max-width: 20%;
  min-width: 10%;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 3px #555;
    background-color: #e8ab2e;
}

.paginator {
    display: block;
    max-width: 80%;
    margin: auto;
    margin-left: auto;
}

.paginator a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
}
.paginator a.current_page {
    background-color: #ddd;
}
.paginator a:hover:not(.current_page) {
    background-color: #ccc;
}

